<h4>Categories:</h4>
<ul class="nav flex-column list-group">
    <li class="nav-item list-group-item">
        <a class="nav-link active" href="#">Tech</a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link" href="#">Concert</a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link" href="#">Competions</a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link" href="#">Coffe Talk</a>
    </li>
    <li class="nav-item list-group-item">
        <a class="nav-link" href="#">Theatre</a>
    </li>
</ul>