<div class="card">
    <img class="card-img-top"  src="https://marketplace.canva.com/EADybOIa4oA/1/0/1131w/canva-mavi-ve-k%C4%B1rm%C4%B1z%C4%B1-sa%C4%9Fl%C4%B1k-simgeleri-t%C4%B1p-konferans%C4%B1-afi%C5%9F-NdKc9qwGEd4.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a asp-controller="Event" asp-action="Index" class="btn btn-primary">Go somewhere</a>
    </div>
</div>