@model Event


<div  class="col-md-3">
    <div  class="card h-100">
        <img class="card-img-top" style="width:100%; height:100%;" src="@Model.EventImage" alt="Card image cap">
        <div class="card-body">
            <h5 style="display:inline" class="card-title">@Model.EventName (@Model.EventLocation)</h5>
            <p class="card-text">@Model.Description</p>
            <a asp-controller="Event" asp-action="Index" class="btn btn-primary">Detaylar ve Başvuru</a>
        </div>
    </div>
</div>