@model IEnumerable<Event>


<h2 class="mt-3">Events List</h2>
@if (User.Identity.IsAuthenticated)
{
<a asp-controller="Event" asp-action="Create" class="btn btn-outline-success">Add</a>    
}
<hr />

<div class="row">
        @foreach(var item in Model)
        {
        @await Html.PartialAsync("_eventCard", item)
    }
</div>
